textview {
  padding: 6px;
}

/* NOTE It is not possible to do this with margins on a listview */
.padded-sidebar {
  padding: 6px;
}

textview.newentrydialog {
  background-color: var(--window-bg-color);
}

toolbarview scrolledwindow.card undershoot.top,
toolbarview scrolledwindow.card undershoot.bottom {
  box-shadow: none;
  background: none;
}
